.cal-container {
  width: 100%;
  min-width: 700px;
  font-family: Helvetica;
}

.cal-header h1.title {
  text-align: center;
}

.cal-table {
  width: 100%;
  min-width: 700px;
  border-collapse: collapse;
}

.cal-table th,
.cal-table td {
  border: 1px solid black;
  padding: 5px;
  min-width: 100px;
  vertical-align: top;
}

.cal-table th {
  text-align: center;
}

.cal-table td {
  height: 100px;
  text-align: right;
}

.cal-table td.blank {
  background-color: #ddd;
}

.cal-nav {
  margin-top: 10px;
  text-align: center;
}
